body {
    text-align: center;
    background-color: rgb(5, 81, 100);
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgb(252, 250, 140);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color:rgb(252, 250, 140);
}

.jogador, .vencedor {
    font-size: 30px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgb(154, 237, 155);
    cursor: pointer;
}


.tituloTxt{
    color: rgb(243, 244, 221);
}