body {
    text-align: center;
    background-color: #0003a3;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgba(3, 114, 166, 65);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgba(3, 114, 166, 65);
}

.jogador, .vencedor {
    font-size: 30px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgb(154, 237, 155);
    cursor: pointer;
}


.tituloTxt{
    color: rgba(4, 30, 64, 25);
}

label{
    color: rgba(100, 228, 255, 100);
}
